In [1]:
# import libraries
import os
import csv
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import copy
import sys

In [2]:
# Can find datasets here: https://www.kaggle.com/datasets/fedesoriano/gender-pay-gap-dataset

In [3]:
# read in files
panel_data = pd.read_csv("Resources/panel study income dynamics.csv", encoding='mac_roman')
cps_data = pd.read_csv("Resources/current population survey data.csv", encoding='mac_roman')

In [4]:
### CLEAN PANEL DATA ###
panel_data.head(5)

,intnum68,pernum68,wave,sex,intnum,farminc,region,famwgt,relhead,age,...,foodcare,building,sales,officeadmin,farmer,constructextractinstall,production,transport,sumocc,LEHS
0,1152,24,1981,1,3505,0.0,1.0,17.000,10,34,...,0,0,1,0,0,0,0,0,1,0
1,5057,171,1981,1,675,0.0,2.0,2.000,10,32,...,0,0,0,0,0,0,1,0,1,1
2,6375,170,2009,1,8505,0.0,1.0,6.565,10,64,...,0,0,0,0,0,0,1,0,1,1
3,2261,3,1999,1,4202,0.0,2.0,25.973,10,50,...,0,0,0,0,0,0,0,1,1,1
4,5927,7,1990,1,605,0.0,3.0,14.819,10,26,...,0,0,0,0,0,0,1,0,1,1

In [5]:
# Display all columns
my_list = list(panel_data)
print (my_list)

['intnum68', 'pernum68', 'wave', 'sex', 'intnum', 'farminc', 'region', 'famwgt', 'relhead', 'age', 'employed', 'sch', 'annhrs', 'annlabinc', 'occ', 'ind', 'white', 'black', 'hisp', 'othrace', 'degree', 'degupd', 'schupd', 'annwks', 'unjob', 'usualhrwk', 'labincbus', 'yrsexp', 'yrsftexp', 'yrsptexp', 'yrsptexpsq', 'yrsftexpsq', 'yrsExpSq', 'yrsexpfz', 'yrsftexpfz', 'yrsptexpfz', 'yrsexpfzsq', 'yrsftexpfzsq', 'yrsptexpfzsq', 'wtrgov', 'selfemp', 'origage', 'origannHrsHD', 'origannHrsWF', 'origannLabIncHD', 'origannLabIncWF', 'origannWeeksHD', 'origannWeeksWF', 'origcurrHrWkHD', 'origcurrHrWkWF', 'origdegreeHD', 'origdegreeWF', 'origemp', 'origeverwrkHD07', 'origeverwrkHD09', 'origeverwrkHD11', 'origeverwrkHD99', 'origeverwrkWF07', 'origeverwrkWF09', 'origeverwrkWF11', 'origeverwrkWF99', 'origfamWgt', 'origfarmInc', 'origindHD', 'origindWF', 'origmarSt', 'orignumChld', 'origoccHD', 'origoccWF', 'origraceHD', 'origraceWF', 'origregion', 'origrelHead', 'origsch', 'origschfamHD07', 'origschfamHD09', 'origschfamHD11', 'origschfamHD81', 'origschfamHD99', 'origschfamWF07', 'origschfamWF09', 'origschfamWF11', 'origschfamWF81', 'origschfamWF99', 'origsexHead', 'origspanHD', 'origspanWF', 'origstopwrkHDE299', 'origstopwrkHDE399', 'origstopwrkHDE499', 'origstopwrkHDE599', 'origstopwrkHDE699', 'origstopwrkHDU299', 'origstopwrkHDU399', 'origstopwrkHDU499', 'origstopwrkHDU599', 'origstopwrkHDU699', 'origstopwrkWFE299', 'origstopwrkWFE399', 'origstopwrkWFE499', 'origstopwrkWFE599', 'origstopwrkWFE699', 'origstopwrkWFU299', 'origstopwrkWFU399', 'origstopwrkWFU499', 'origstopwrkWFU599', 'origstopwrkWFU699', 'origtotYrsFTHD', 'origtotYrsFTWF', 'origtotYrsHD', 'origtotYrsWF', 'origunJobHD', 'origunJobWF', 'origwrkPriorJanHD', 'origwrkPriorJanWF', 'origwtrNewHD', 'origwtrNewWF', 'origyrNewHD', 'origyrNewWF', 'predict97', 'predictft97', 'predictfz97', 'predictftfz97', 'predictfz98', 'predictftfz98', 'predict1999', 'predictft1999', 'predictfz99', 'predictftfz99', 'predictfz00', 'predictftfz00', 'predict01', 'predictft01', 'predictfz01', 'predictftfz01', 'predictfz02', 'predictftfz02', 'predict03', 'predictft03', 'predictfz03', 'predictftfz03', 'predictfz04', 'predictftfz04', 'predictfz06', 'predictftfz06', 'predict2007', 'predictft2007', 'predictfz07', 'predictftfz07', 'predictfz08', 'predictftfz08', 'predict2009', 'predictft2009', 'predictfz09', 'predictftfz09', 'predictfz10', 'predictftfz10', 'predict2011', 'predictft2011', 'predictfz11', 'predictftfz11', 'origAdvHD', 'origAdvWF', 'origBAHD', 'origBAWF', 'origannWeeksHDE', 'origannWeeksHDR', 'origannWeeksHDU', 'origannWeeksWFE', 'origannWeeksWFR', 'origannWeeksWFU', 'origindHDE', 'origindWFE', 'origindHDU', 'origindWFU', 'origindHDR', 'origindWFR', 'origoccHDE', 'origoccHDR', 'origoccHDU', 'origoccWFE', 'origoccWFR', 'origoccWFU', 'origrace', 'origschHD', 'origschWF', 'origyrHghstDegHD', 'origyrHghstDegWF', 'origwtrCollDegHD', 'origwtrCollDegWF', 'origwtrCollHD', 'origwtrCollWF', 'predict', 'predictft', 'smsa', 'perconexp', 'hrwage', 'annhrs2', 'expendbase10', 'inflate', 'realhrwage', 'immigrantsamp', 'northeast', 'northcentral', 'south', 'west', 'lnrealwg', 'ft', 'potexp', 'potexp2', 'ba', 'adv', 'military', 'basesamp', 'wagesamp', 'female', 'ind2', 'occ2', 'occ2name', 'Agriculture', 'miningconstruction', 'durables', 'nondurables', 'Transport', 'Utilities', 'Communications', 'retailtrade', 'wholesaletrade', 'finance', 'SocArtOther', 'hotelsrestaurants', 'Medical', 'Education', 'professional', 'publicadmin', 'sumind', 'manager', 'business', 'financialop', 'computer', 'architect', 'scientist', 'socialworker', 'postseceduc', 'legaleduc', 'artist', 'lawyerphysician', 'healthcare', 'healthsupport', 'protective', 'foodcare', 'building', 'sales', 'officeadmin', 'farmer', 'constructextractinstall', 'production', 'transport', 'sumocc', 'LEHS']

In [6]:
# Drop unecessary columns and display all remaining columns with no break
pd.set_option('display.max_columns', None)
cleaned_panel_data = panel_data.drop(['intnum68', 'farminc', 'pernum68', 'intnum', 'famwgt', 'employed', 'occ', 'ind', 'yrsptexpsq', 'yrsftexpsq', 'yrsExpSq', 'yrsexpfzsq', 'yrsftexpfzsq', 'selfemp','predict97', 'predictft97', 'predictfz97', 'predictftfz97', 'predictfz98', 'predictftfz98', 'predict1999', 'predictft1999', 'predictfz99', 'predictftfz99', 'predictfz00', 'predictftfz00', 'predict01', 'predictft01', 'predictfz01', 'predictftfz01', 'predictfz02', 'predictftfz02', 'predict03', 'predictft03', 'predictfz03', 'predictftfz03', 'predictfz04', 'predictftfz04', 'predictfz06', 'predictftfz06', 'predict2007', 'predictft2007', 'predictfz07', 'predictftfz07', 'predictfz08', 'predictftfz08', 'predict2009', 'predictft2009', 'predictfz09', 'predictftfz09', 'predictfz10', 'predictftfz10', 'predict2011', 'predictft2011', 'predictfz11', 'predictftfz11','origAdvHD', 'origAdvWF', 'origBAHD', 'origBAWF', 'origannWeeksHDE', 'origannWeeksHDR', 'origannWeeksHDU', 'origannWeeksWFE', 'origannWeeksWFR', 'origannWeeksWFU', 'origindHDE', 'origindWFE', 'origindHDU', 'origindWFU', 'origindHDR', 'origindWFR', 'origoccHDE', 'origoccHDR', 'origoccHDU', 'origoccWFE', 'origoccWFR', 'origoccWFU', 'origrace', 'origschHD', 'origschWF', 'origyrHghstDegHD', 'origyrHghstDegWF', 'origwtrCollDegHD', 'origwtrCollDegWF', 'origwtrCollHD', 'origwtrCollWF', 'predict', 'predictft', 'smsa', 'perconexp','expendbase10', 'immigrantsamp', 'potexp2', 'military', 'basesamp', 'ind2', 'occ2', 'sumind', 'sumocc', 'origannLabIncWF', 'origannWeeksHD', 'origannWeeksWF', 'origcurrHrWkHD', 'origcurrHrWkWF', 'origdegreeHD', 'origdegreeWF', 'origemp', 'origeverwrkHD07', 'origeverwrkHD09', 'origeverwrkHD11', 'origeverwrkHD99', 'origeverwrkWF07', 'origeverwrkWF09', 'origeverwrkWF11', 'origeverwrkWF99', 'origfamWgt', 'origfarmInc', 'origindHD', 'origindWF', 'origmarSt', 'orignumChld', 'origoccHD', 'origoccWF', 'origraceHD', 'origraceWF', 'origregion', 'origrelHead', 'origsch', 'origschfamHD07', 'origschfamHD09', 'origschfamHD11', 'origschfamHD81', 'origschfamHD99', 'origschfamWF07', 'origschfamWF09', 'origschfamWF11', 'origschfamWF81', 'origschfamWF99', 'origsexHead', 'origspanHD', 'origspanWF', 'origstopwrkHDE299', 'origstopwrkHDE399', 'origstopwrkHDE499', 'origstopwrkHDE599', 'origstopwrkHDE699', 'origstopwrkHDU299', 'origstopwrkHDU399', 'origstopwrkHDU499', 'origstopwrkHDU599', 'origstopwrkHDU699', 'origstopwrkWFE299', 'origstopwrkWFE399', 'origstopwrkWFE499', 'origstopwrkWFE599', 'origstopwrkWFE699', 'origstopwrkWFU299', 'origstopwrkWFU399', 'origstopwrkWFU499', 'origstopwrkWFU599', 'origstopwrkWFU699', 'origtotYrsFTHD', 'origtotYrsFTWF', 'origtotYrsHD', 'origtotYrsWF', 'origunJobHD', 'origunJobWF', 'origwrkPriorJanHD', 'origwrkPriorJanWF', 'origwtrNewHD', 'origwtrNewWF', 'female', 'northeast', 'northcentral', 'south', 'west', 'origage','yrsexpfz', 'yrsftexpfz', 'yrsptexpfz', 'yrsptexpfzsq', 'wagesamp', 'annhrs2', 'origannHrsHD', 'origannHrsWF', 'origannLabIncHD', 'origyrNewHD', 'origyrNewWF',], axis=1)
cleaned_panel_data.head()

,wave,sex,region,relhead,age,sch,annhrs,annlabinc,white,black,hisp,othrace,degree,degupd,schupd,annwks,unjob,usualhrwk,labincbus,yrsexp,yrsftexp,yrsptexp,wtrgov,hrwage,inflate,realhrwage,lnrealwg,ft,potexp,ba,adv,occ2name,Agriculture,miningconstruction,durables,nondurables,Transport,Utilities,Communications,retailtrade,wholesaletrade,finance,SocArtOther,hotelsrestaurants,Medical,Education,professional,publicadmin,manager,business,financialop,computer,architect,scientist,socialworker,postseceduc,legaleduc,artist,lawyerphysician,healthcare,healthsupport,protective,foodcare,building,sales,officeadmin,farmer,constructextractinstall,production,transport,LEHS
0,1981,1,1.0,10,34,16.0,1600,10000.0,1,0,0,0,1.0,1.0,17,32.000000,0,50.0,0,12.0,12.0,0.0,0.0,6.250000,2.311526,14.447040,2.670490,1,12.0,1,0,.,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,1981,1,2.0,10,32,14.0,520,9095.0,0,1,0,0,0.0,0.0,14,13.000000,1,40.0,0,14.0,11.0,3.0,0.0,17.490385,2.311526,40.429485,3.699559,1,12.0,0,0,Production,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
2,2009,1,1.0,10,64,12.0,2550,45200.0,0,1,0,0,0.0,0.0,12,51.000000,0,50.0,0,39.0,38.0,1.0,0.0,17.725491,1.015900,18.007324,2.890779,1,46.0,0,0,Production,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
3,1999,1,2.0,10,50,12.0,3072,25000.0,1,0,0,0,0.0,0.0,12,51.200001,0,60.0,0,30.0,30.0,0.0,0.0,8.138021,1.271724,10.349318,2.336921,1,32.0,0,0,Transportation and materials moving,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
4,1990,1,3.0,10,26,12.0,2100,24500.0,1,0,0,0,0.0,0.0,12,50.000000,0,42.0,0,8.0,8.0,0.0,0.0,11.666667,1.572618,18.347204,2.909477,1,8.0,0,0,Production,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1

In [7]:
# Disply new columns after dropping
my_list = list(cleaned_panel_data)
print (my_list)

['wave', 'sex', 'region', 'relhead', 'age', 'sch', 'annhrs', 'annlabinc', 'white', 'black', 'hisp', 'othrace', 'degree', 'degupd', 'schupd', 'annwks', 'unjob', 'usualhrwk', 'labincbus', 'yrsexp', 'yrsftexp', 'yrsptexp', 'wtrgov', 'hrwage', 'inflate', 'realhrwage', 'lnrealwg', 'ft', 'potexp', 'ba', 'adv', 'occ2name', 'Agriculture', 'miningconstruction', 'durables', 'nondurables', 'Transport', 'Utilities', 'Communications', 'retailtrade', 'wholesaletrade', 'finance', 'SocArtOther', 'hotelsrestaurants', 'Medical', 'Education', 'professional', 'publicadmin', 'manager', 'business', 'financialop', 'computer', 'architect', 'scientist', 'socialworker', 'postseceduc', 'legaleduc', 'artist', 'lawyerphysician', 'healthcare', 'healthsupport', 'protective', 'foodcare', 'building', 'sales', 'officeadmin', 'farmer', 'constructextractinstall', 'production', 'transport', 'LEHS']

In [8]:
# Rename columns to be more easily understood
cleaned_panel_data.rename(columns={'wave': 'year', 'sex': 'gender', 'relhead': 'relation_to_head_of_house', 'sch': 'years_of_education', 'annhrs': 'annual_hours', 'annlabinc': 'annual_income', 'othrace': 'other_race', 'degupd': '09_updated_degree', 'schupd': 'updated_years_of_education', 'annwks': 'annual_weeks_worked', 'unjob': 'union_job', 'usualhrwk': 'usual_hours_per_week', 'ba': 'bachelors_degree', 'adv': 'advanced_degree', 'labincbus': 'labor_income_from_business', 'yrsexp': 'years_experience', 'yrsftexp': 'full_time_experience', 'yrsptexp': 'part_time_experience', 'wtrgov': 'government_worker', 'hrwage': 'hourly_wage', 'inflate': 'wage_inflation_factor', 'realhrwage': 'adj_hourly_wage', 'lnrealwg':'real_hourly_wage', 'ft': 'full_time_job', 'potexp': 'potential_experience', 'occ2name': 'occupation_category', 'Agriculture': 'agriculture', 'miningconstruction': 'mining_construction', 'Transport': 'transport', 'Utilities': 'utilities', 'Communications':'communications', 'retailtrade':'retail_trade', 'wholesaletrade':'wholesale_trade', 'SocArtOther':'social_art_other', 'hotelsrestaurants':'hospitality', 'Medical':'medical', 'Education':'education', 'publicadmin':'public_admin', 'financialop': 'financial_operations', 'postseceduc': 'professor', 'legaleduc': 'legal', 'lawyerphysician': 'physicians', 'officeadmin': 'office_admin', 'constructextractinstall': 'construction','LEHS': 'high_school_or_less'}, inplace=True)

In [9]:
# Display categories to see what needs to be edited
cleaned_panel_data["occupation_category"].value_counts()

.                                         12471
Office and Admin Support                   5456
Production                                 3269
Managers                                   3127
Consruction, Extraction, Installation      2690
Transportation and materials moving        2397
Protective Service Occupations              908
Computer and Math Technicians               699
Business Operators                          675
Community and Social Workers                650
financial Operators                         585
Lawyers, Judges,Physicans and dentists      282
Farming, Fishing & Forestry                 189
Name: occupation_category, dtype: int64

In [10]:
# Rename categories and make more uniform
cleaned_panel_data["occupation_category"] = cleaned_panel_data["occupation_category"].replace('.','Other')
cleaned_panel_data["occupation_category"] = cleaned_panel_data["occupation_category"].replace('financial Operators','Financial Operators')
cleaned_panel_data["occupation_category"] = cleaned_panel_data["occupation_category"].replace('Transportation and materials moving','Transportation and Materials Moving')
cleaned_panel_data["occupation_category"] = cleaned_panel_data["occupation_category"].replace('Consruction, Extraction, Installation','Construction, Extraction, Installation')
cleaned_panel_data["occupation_category"] = cleaned_panel_data["occupation_category"].replace('Lawyers, Judges,Physicans and dentists','Lawyers, Judges, Physicans, and Dentists')

In [11]:
# See if changes were effective
cleaned_panel_data["occupation_category"].value_counts()

Other                                       12471
Office and Admin Support                     5456
Production                                   3269
Managers                                     3127
Construction, Extraction, Installation       2690
Transportation and Materials Moving          2397
Protective Service Occupations                908
Computer and Math Technicians                 699
Business Operators                            675
Community and Social Workers                  650
Financial Operators                           585
Lawyers, Judges, Physicans, and Dentists      282
Farming, Fishing & Forestry                   189
Name: occupation_category, dtype: int64

In [12]:
cleaned_panel_data["region"].value_counts()

3.0    14433
2.0     8569
4.0     5245
1.0     5148
Name: region, dtype: int64

In [13]:
# make sure every column has same count
cleaned_panel_data.count()

year                         33398
gender                       33398
region                       33395
relation_to_head_of_house    33398
age                          33398
                             ...
farmer                       33398
construction                 33398
production                   33398
transport                    33398
high_school_or_less          33398
Length: 71, dtype: int64

In [14]:
# Round values in table columns, can bin later in tableau
cleaned_panel_data.annual_weeks_worked = cleaned_panel_data.annual_weeks_worked.round(0)
cleaned_panel_data.hourly_wage = cleaned_panel_data.hourly_wage.round(0)
cleaned_panel_data.wage_inflation_factor = cleaned_panel_data.wage_inflation_factor.round(2)
cleaned_panel_data.adj_hourly_wage = cleaned_panel_data.adj_hourly_wage.round(0)
cleaned_panel_data.real_hourly_wage = cleaned_panel_data.real_hourly_wage.round(0)

In [15]:
# Disply new columns after edits
my_list = list(cleaned_panel_data)
print (my_list)

['year', 'gender', 'region', 'relation_to_head_of_house', 'age', 'years_of_education', 'annual_hours', 'annual_income', 'white', 'black', 'hisp', 'other_race', 'degree', '09_updated_degree', 'updated_years_of_education', 'annual_weeks_worked', 'union_job', 'usual_hours_per_week', 'labor_income_from_business', 'years_experience', 'full_time_experience', 'part_time_experience', 'government_worker', 'hourly_wage', 'wage_inflation_factor', 'adj_hourly_wage', 'real_hourly_wage', 'full_time_job', 'potential_experience', 'bachelors_degree', 'advanced_degree', 'occupation_category', 'agriculture', 'mining_construction', 'durables', 'nondurables', 'transport', 'utilities', 'communications', 'retail_trade', 'wholesale_trade', 'finance', 'social_art_other', 'hospitality', 'medical', 'education', 'professional', 'public_admin', 'manager', 'business', 'financial_operations', 'computer', 'architect', 'scientist', 'socialworker', 'professor', 'legal', 'artist', 'physicians', 'healthcare', 'healthsupport', 'protective', 'foodcare', 'building', 'sales', 'office_admin', 'farmer', 'construction', 'production', 'transport', 'high_school_or_less']

In [16]:
# Display cleaned data frame 
cleaned_panel_data.head()

,year,gender,region,relation_to_head_of_house,age,years_of_education,annual_hours,annual_income,white,black,hisp,other_race,degree,09_updated_degree,updated_years_of_education,annual_weeks_worked,union_job,usual_hours_per_week,labor_income_from_business,years_experience,full_time_experience,part_time_experience,government_worker,hourly_wage,wage_inflation_factor,adj_hourly_wage,real_hourly_wage,full_time_job,potential_experience,bachelors_degree,advanced_degree,occupation_category,agriculture,mining_construction,durables,nondurables,transport,utilities,communications,retail_trade,wholesale_trade,finance,social_art_other,hospitality,medical,education,professional,public_admin,manager,business,financial_operations,computer,architect,scientist,socialworker,professor,legal,artist,physicians,healthcare,healthsupport,protective,foodcare,building,sales,office_admin,farmer,construction,production,transport,high_school_or_less
0,1981,1,1.0,10,34,16.0,1600,10000.0,1,0,0,0,1.0,1.0,17,32.0,0,50.0,0,12.0,12.0,0.0,0.0,6.0,2.31,14.0,3.0,1,12.0,1,0,Other,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,1981,1,2.0,10,32,14.0,520,9095.0,0,1,0,0,0.0,0.0,14,13.0,1,40.0,0,14.0,11.0,3.0,0.0,17.0,2.31,40.0,4.0,1,12.0,0,0,Production,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
2,2009,1,1.0,10,64,12.0,2550,45200.0,0,1,0,0,0.0,0.0,12,51.0,0,50.0,0,39.0,38.0,1.0,0.0,18.0,1.02,18.0,3.0,1,46.0,0,0,Production,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
3,1999,1,2.0,10,50,12.0,3072,25000.0,1,0,0,0,0.0,0.0,12,51.0,0,60.0,0,30.0,30.0,0.0,0.0,8.0,1.27,10.0,2.0,1,32.0,0,0,Transportation and Materials Moving,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
4,1990,1,3.0,10,26,12.0,2100,24500.0,1,0,0,0,0.0,0.0,12,50.0,0,42.0,0,8.0,8.0,0.0,0.0,12.0,1.57,18.0,3.0,1,8.0,0,0,Production,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1

In [17]:
### CLEAN CPS DATA ###
cps_data.head(5)

,year,serial,numprec,hwtsupp,gq,region,statefip,metro,metarea,county,farm,month,pernum,wtsupp,relate,age,sex,race,marst,popstat,bpl,yrimmig,citizen,mbpl,fbpl,nativity,hispan,sch,educ99,schlcoll,empstat,labforce,occ,occ1990,ind1990,occ1950,ind,ind1950,classwkr,occly,occ50ly,indly,ind50ly,classwly,wkswork1,wkswork2,hrswork,uhrswork,union,incwage,incbus,incfarm,inclongj,oincwage,srcearn,ftype,quhrswor,qwkswork,qincbus,qincfarm,qinclong,qincwage,qsrcearn,o_numprec,o_hwtsupp,o_gq,o_region,o_statefip,o_metro,o_metarea,o_county,o_farm,o_month,o_pernum,o_wtsupp,o_relate,o_age,o_sex,o_race,o_marst,o_popstat,o_bpl,o_yrimmig,o_citizen,o_mbpl,o_fbpl,o_nativity,o_hispan,o_educ,o_educ99,o_schlcoll,o_empstat,o_labforce,o_occ,o_occ1990,o_ind1990,o_occ1950,o_ind,o_ind1950,o_classwkr,o_occly,o_occ50ly,o_indly,o_ind50ly,o_classwly,o_wkswork1,o_wkswork2,o_hrswork,o_uhrswork,o_union,o_incwage,o_incbus,o_incfarm,o_inclongj,o_oincwage,o_srcearn,o_ftype,o_quhrswor,o_qwkswork,o_qincbus,o_qincfarm,o_qincwage,origrace,white,black,hisp,othrace,educorig,ba,adv,groupquar,potexp,potexp2,selfemp,military,employed,annhrs,ft,niincwage,incwageman,tcoincwage,tcinclongj,tcincwage,hrwage,perconexp,expendbase10,inflate,realhrwage,uncenrealhrwage,lnrwg,hdwfcoh,notalloc,basesamp,wagesamp,occ_orig,adj_occ,occ_2010_orig,ind_orig,adj_ind,ind_2002_orig,ind_2007_orig,occ_81,ind_81,occ_2000female,unmatched_fem_81,occ_2000male,unmatched_male_81,ind_2000,occ2000_81,ind2000_81,occ_1990,ind_1990,occ_1999,ind_1999,unmatched_occ_90,occ2000_90,unmatched_ind_90,ind2000_90,indname2000_90,unmatched_occ_99,occ2000_99,unmatched_ind_99,ind2000_99,indname2000_99,un_lnrealwg,northeast,northcentral,south,west,female,adj_ind2,adj_occ2,adj_occ2name,Agriculture,miningconstruction,durables,nondurables,Transport,Utilities,Communications,retailtrade,wholesaletrade,finance,SocArtOther,hotelsrestaurants,Medical,Education,professional,publicadmin,sumadj_ind,manager,business,financialop,computer,architect,scientist,socialworker,postseceduc,legaleduc,artist,lawyerphysician,healthcare,healthsupport,protective,foodcare,building,sales,officeadmin,farmer,constructextractinstall,production,transport,sumadj_occ,LEHS
0,1990,9677,1,1052.650024,1,12,36,2.0,5607.0,NaN,1.0,3,1,1052.650024,101,58,1,3,6,1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,12.0,NaN,NaN,10,2,335,335,871.0,390,871,896,28,335,390,871,896.0,28,52,6,35.0,35,0.0,14200.0,0,0,14200.0,0.0,1.0,2,0.0,0.0,0,0,0.0,0,0.0,1,1052.650024,1,12,36,2,5607,NaN,1.0,3,1,1052.650024,101,58,1,100,6,1,NaN,NaN,NaN,NaN,NaN,NaN,200,72,NaN,0.0,10,2,335,335,871,390,871,896,28,335,390,871,896,28,52,6,35,35,0.0,14200.0,0,0,14200.0,0.0,1.0,2,0.0,0.0,0,0,0,100,0,0,1,0,72,0,0,0,40,1600,0,0,1,1820,1,14200.0,14200.0,0.0,14200.0,14200.0,7.802198,64.639999,101.653999,1.572618,12.269874,12.269874,2.507147,1,1,1,1,335,526.0,NaN,871,837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335.0,871.0,NaN,NaN,NaN,526.0,NaN,837.0,Individual and family services,NaN,NaN,NaN,NaN,NaN,2.507147,1,0,0,0,0,62,42,Office and Admin Support,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1
1,2009,64923,4,971.200012,1,33,5,2.0,NaN,NaN,NaN,3,4,1288.880005,1260,28,1,1,6,1,9900.0,NaN,NaN,9900.0,9900.0,1.0,0.0,12.0,10.0,NaN,10,2,5120,337,762.0,310,8660,836,21,5120,310,8660,836.0,22,52,6,40.0,40,1.0,17680.0,0,0,17680.0,0.0,1.0,5,0.0,0.0,0,0,0.0,0,0.0,4,971.200012,1,33,5,2,9999,0.0,NaN,3,4,1288.880005,1260,28,1,100,6,1,9900.0,0.0,0.0,9900.0,9900.0,1.0,0,73,10.0,0.0,10,2,5120,337,762,310,8660,836,21,5120,310,8660,836,22,52,6,40,40,1.0,17680.0,0,0,17680.0,0.0,1.0,5,0.0,0.0,0,0,0,100,1,0,0,0,73,0,0,0,10,100,0,0,1,2080,1,17680.0,17680.0,0.0,17680.0,17680.0,8.500000,100.063004,101.653999,1.015900,8.635149,8.635149,2.155841,0,1,1,1,5120,512.0,NaN,8660,866,NaN,8660.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.155841,0,0,1,0,0,68,42,Office and Admin Support,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1
2,1990,8425,1,1622.280029,1,12,36,3.0,5607.0,NaN,1.0,3,1,1622.280029,101,37,1,1,6,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,14.0,NaN,NaN,10,2,217,217,380.0,35,380,387,21,217,35,380,387.0,22,52,6,40.0,40,1.0,28000.0,0,0,28000.0,0.0,1.0,2,0.0,0.0,0,0,0.0,0,0.0,1,1622.280029,1,12,36,3,5607,NaN,1.0,3,1,1622.280029,101,37,1,100,6,1,NaN,NaN,NaN,NaN,NaN,NaN,0,100,NaN,0.0,10,2,217,217,380,35,380,387,21,217,35,380,387,22,52,6,40,40,1.0,28000.0,0,0,28000.0,0.0,1.0,2,0.0,0.0,0,0,0,100,1,0,0,0,100,0,0,0,17,289,0,0,1,2080,1,28000.0,28000.0,0.0,28000.0,28000.0,13.461538,64.639999,101.653999,1.572618,21.169851,21.169851,3.052578,1,1,1,1,217,154.0,NaN,380,309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,217.0,380.0,NaN,NaN,NaN,154.0,NaN,309.0,Commercial and service industry machinery manu...,NaN,NaN,NaN,NaN,NaN,3.052578,1,0,0,0,0,20,21,.,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1
3,1990,67963,1,2689.909912,1,42,6,3.0,7400.0,NaN,1.0,3,1,2689.909912,101,34,1,1,6,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,18.0,NaN,NaN,10,2,64,64,732.0,99,740,808,21,64,99,740,808.0,22,47,4,50.0,45,1.0,27500.0,0,0,22000.0,5500.0,1.0,2,0.0,0.0,0,0,0.0,0,0.0,1,2689.909912,1,42,6,3,7400,NaN,1.0,3,1,2689.909912,101,34,1,100,6,1,NaN,NaN,NaN,NaN,NaN,NaN,0,122,NaN,0.0,10,2,64,64,732,99,740,808,21,64,99,740,808,22,47,4,50,45,1.0,27500.0,0,0,22000.0,5500.0,1.0,2,0.0,0.0,0,0,0,100,1,0,0,0,122,0,1,0,10,100,0,0,1,2115,1,27500.0,27500.0,5500.0,22000.0,27500.0,13.002364,64.639999,101.653999,1.572618,20.447746,20.447746,3.017873,1,1,1,1,64,102.0,NaN,740,738,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.0,732.0,NaN,NaN,NaN,102.0,NaN,738.0,Computer systems design and related services,NaN,NaN,NaN,NaN,NaN,3.017873,0,0,0,1,0,74,20,Computer and Math Technicians,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,1981,38650,9,1911.900024,1,31,51,3.0,8840.0,NaN,1.0,3,1,1911.900024,101,38,1,4,1,1,NaN,NaN,NaN,NaN,NaN,NaN,0.0,13.0,NaN,NaN,10,2,245,22,791.0,290,798,849,10,153,95,539,617.0,22,52,6,80.0,40,NaN,17000.0,0,0,NaN,NaN,NaN,1,NaN,NaN,0,0,NaN,0,NaN,9,1911.900024,1,31,51,3,8840,NaN,1.0,3,1,1911.900024,101,38,1,700,1,1,NaN,NaN,NaN,NaN,NaN,NaN,0,90,NaN,NaN,10,2,245,22,791,290,798,849,10,153,95,539,617,22,52,6,80,40,NaN,17000.0,0,0,NaN,NaN,NaN,1,NaN,NaN,0,0,0,700,0,0,0,1,90,0,0,0,19,361,0,0,1,2080,1,17000.0,17000.0,NaN,NaN,17000.0,8.173077,43.977001,101.653999,2.311526,18.892282,18.892282,2.938754,1,1,1,1,245,43.0,NaN,798,749,NaN,NaN,245.0,798.0,470.0,NaN,43.0,NaN,749.0,43.0,749.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.938754,0,0,1,0,0,74,10,Managers,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1

In [18]:
# Display all columns
my_list = list(cps_data)
print (my_list)

['year', 'serial', 'numprec', 'hwtsupp', 'gq', 'region', 'statefip', 'metro', 'metarea', 'county', 'farm', 'month', 'pernum', 'wtsupp', 'relate', 'age', 'sex', 'race', 'marst', 'popstat', 'bpl', 'yrimmig', 'citizen', 'mbpl', 'fbpl', 'nativity', 'hispan', 'sch', 'educ99', 'schlcoll', 'empstat', 'labforce', 'occ', 'occ1990', 'ind1990', 'occ1950', 'ind', 'ind1950', 'classwkr', 'occly', 'occ50ly', 'indly', 'ind50ly', 'classwly', 'wkswork1', 'wkswork2', 'hrswork', 'uhrswork', 'union', 'incwage', 'incbus', 'incfarm', 'inclongj', 'oincwage', 'srcearn', 'ftype', 'quhrswor', 'qwkswork', 'qincbus', 'qincfarm', 'qinclong', 'qincwage', 'qsrcearn', 'o_numprec', 'o_hwtsupp', 'o_gq', 'o_region', 'o_statefip', 'o_metro', 'o_metarea', 'o_county', 'o_farm', 'o_month', 'o_pernum', 'o_wtsupp', 'o_relate', 'o_age', 'o_sex', 'o_race', 'o_marst', 'o_popstat', 'o_bpl', 'o_yrimmig', 'o_citizen', 'o_mbpl', 'o_fbpl', 'o_nativity', 'o_hispan', 'o_educ', 'o_educ99', 'o_schlcoll', 'o_empstat', 'o_labforce', 'o_occ', 'o_occ1990', 'o_ind1990', 'o_occ1950', 'o_ind', 'o_ind1950', 'o_classwkr', 'o_occly', 'o_occ50ly', 'o_indly', 'o_ind50ly', 'o_classwly', 'o_wkswork1', 'o_wkswork2', 'o_hrswork', 'o_uhrswork', 'o_union', 'o_incwage', 'o_incbus', 'o_incfarm', 'o_inclongj', 'o_oincwage', 'o_srcearn', 'o_ftype', 'o_quhrswor', 'o_qwkswork', 'o_qincbus', 'o_qincfarm', 'o_qincwage', 'origrace', 'white', 'black', 'hisp', 'othrace', 'educorig', 'ba', 'adv', 'groupquar', 'potexp', 'potexp2', 'selfemp', 'military', 'employed', 'annhrs', 'ft', 'niincwage', 'incwageman', 'tcoincwage', 'tcinclongj', 'tcincwage', 'hrwage', 'perconexp', 'expendbase10', 'inflate', 'realhrwage', 'uncenrealhrwage', 'lnrwg', 'hdwfcoh', 'notalloc', 'basesamp', 'wagesamp', 'occ_orig', 'adj_occ', 'occ_2010_orig', 'ind_orig', 'adj_ind', 'ind_2002_orig', 'ind_2007_orig', 'occ_81', 'ind_81', 'occ_2000female', 'unmatched_fem_81', 'occ_2000male', 'unmatched_male_81', 'ind_2000', 'occ2000_81', 'ind2000_81', 'occ_1990', 'ind_1990', 'occ_1999', 'ind_1999', 'unmatched_occ_90', 'occ2000_90', 'unmatched_ind_90', 'ind2000_90', 'indname2000_90', 'unmatched_occ_99', 'occ2000_99', 'unmatched_ind_99', 'ind2000_99', 'indname2000_99', 'un_lnrealwg', 'northeast', 'northcentral', 'south', 'west', 'female', 'adj_ind2', 'adj_occ2', 'adj_occ2name', 'Agriculture', 'miningconstruction', 'durables', 'nondurables', 'Transport', 'Utilities', 'Communications', 'retailtrade', 'wholesaletrade', 'finance', 'SocArtOther', 'hotelsrestaurants', 'Medical', 'Education', 'professional', 'publicadmin', 'sumadj_ind', 'manager', 'business', 'financialop', 'computer', 'architect', 'scientist', 'socialworker', 'postseceduc', 'legaleduc', 'artist', 'lawyerphysician', 'healthcare', 'healthsupport', 'protective', 'foodcare', 'building', 'sales', 'officeadmin', 'farmer', 'constructextractinstall', 'production', 'transport', 'sumadj_occ', 'LEHS']

In [19]:
# Drop unecessary columns and display all remaining columns with no break
pd.set_option('display.max_columns', None)
cleaned_cps_data = cps_data.drop(['serial', 'farm', 'hdwfcoh', 'pernum', 'sumadj_ind', 'schlcoll', 'numprec', 'gq', 'month', 'wtsupp', 'popstat', 'hispan', 'educ99', 'labforce', 'occ', 'occ1990', 'ind1990', 'occ1950', 'ind', 'ind1950', 'occly', 'occ50ly', 'indly', 'ind50ly', 'wkswork2', 'hrswork', 'incbus', 'incfarm', 'oincwage', 'srcearn', 'quhrswor', 'qwkswork', 'qincbus', 'qincfarm', 'qinclong', 'qincwage', 'qsrcearn', 'origrace', 'educorig', 'groupquar', 'potexp2', 'selfemp', 'military', 'employed', 'incwageman', 'tcoincwage', 'tcinclongj', 'tcincwage', 'expendbase10', 'uncenrealhrwage', 'lnrwg','uncenrealhrwage', 'lnrwg', 'notalloc', 'basesamp', 'wagesamp', 'occ_orig', 'adj_occ', 'occ_2010_orig', 'ind_orig', 'adj_ind', 'ind_2002_orig', 'ind_2007_orig', 'occ_81', 'ind_81', 'occ_2000female', 'unmatched_fem_81', 'occ_2000male', 'unmatched_male_81', 'ind_2000', 'occ2000_81', 'ind2000_81', 'occ_1990', 'ind_1990', 'occ_1999', 'ind_1999', 'unmatched_occ_90', 'occ2000_90', 'unmatched_ind_90', 'ind2000_90', 'indname2000_90', 'unmatched_occ_99', 'occ2000_99', 'unmatched_ind_99', 'ind2000_99', 'indname2000_99', 'un_lnrealwg', 'female', 'adj_ind2', 'adj_occ2', 'sumadj_occ', 'county', 'region', 'metarea', 'hwtsupp', 'o_numprec', 'o_hwtsupp', 'o_gq', 'o_region', 'o_statefip', 'o_metro', 'o_metarea', 'o_county', 'o_farm', 'o_month', 'o_pernum', 'o_wtsupp', 'o_relate', 'o_age', 'o_sex', 'o_race', 'o_marst', 'o_popstat', 'o_bpl', 'o_yrimmig', 'o_citizen', 'o_mbpl', 'o_fbpl', 'o_nativity', 'o_hispan', 'o_educ', 'o_educ99', 'o_schlcoll', 'o_empstat', 'o_labforce', 'o_occ', 'o_occ1990', 'o_ind1990', 'o_occ1950', 'o_ind', 'o_ind1950', 'o_classwkr', 'o_occly', 'o_occ50ly', 'o_indly', 'o_ind50ly', 'o_classwly', 'o_wkswork1', 'o_wkswork2', 'o_hrswork', 'o_uhrswork', 'o_union', 'o_incwage', 'o_incbus', 'o_incfarm', 'o_inclongj', 'o_oincwage', 'o_srcearn', 'o_ftype', 'o_quhrswor', 'o_qwkswork', 'o_qincbus', 'o_qincfarm', 'o_qincwage'], axis=1)
cleaned_cps_data.head()

,year,statefip,metro,relate,age,sex,race,marst,bpl,yrimmig,citizen,mbpl,fbpl,nativity,sch,empstat,classwkr,classwly,wkswork1,uhrswork,union,incwage,inclongj,ftype,white,black,hisp,othrace,ba,adv,potexp,annhrs,ft,niincwage,hrwage,perconexp,inflate,realhrwage,northeast,northcentral,south,west,adj_occ2name,Agriculture,miningconstruction,durables,nondurables,Transport,Utilities,Communications,retailtrade,wholesaletrade,finance,SocArtOther,hotelsrestaurants,Medical,Education,professional,publicadmin,manager,business,financialop,computer,architect,scientist,socialworker,postseceduc,legaleduc,artist,lawyerphysician,healthcare,healthsupport,protective,foodcare,building,sales,officeadmin,farmer,constructextractinstall,production,transport,LEHS
0,1990,36,2.0,101,58,1,3,6,NaN,NaN,NaN,NaN,NaN,NaN,12.0,10,28,28,52,35,0.0,14200.0,14200.0,2,0,0,1,0,0,0,40,1820,1,14200.0,7.802198,64.639999,1.572618,12.269874,1,0,0,0,Office and Admin Support,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
1,2009,5,2.0,1260,28,1,1,6,9900.0,NaN,NaN,9900.0,9900.0,1.0,12.0,10,21,22,52,40,1.0,17680.0,17680.0,5,1,0,0,0,0,0,10,2080,1,17680.0,8.500000,100.063004,1.015900,8.635149,0,0,1,0,Office and Admin Support,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2,1990,36,3.0,101,37,1,1,6,NaN,NaN,NaN,NaN,NaN,NaN,14.0,10,21,22,52,40,1.0,28000.0,28000.0,2,1,0,0,0,0,0,17,2080,1,28000.0,13.461538,64.639999,1.572618,21.169851,1,0,0,0,.,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,1990,6,3.0,101,34,1,1,6,NaN,NaN,NaN,NaN,NaN,NaN,18.0,10,21,22,47,45,1.0,27500.0,22000.0,2,1,0,0,0,0,1,10,2115,1,27500.0,13.002364,64.639999,1.572618,20.447746,0,0,0,1,Computer and Math Technicians,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1981,51,3.0,101,38,1,4,1,NaN,NaN,NaN,NaN,NaN,NaN,13.0,10,10,22,52,40,NaN,17000.0,NaN,1,0,0,0,1,0,0,19,2080,1,17000.0,8.173077,43.977001,2.311526,18.892282,0,0,1,0,Managers,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [20]:
my_list = list(cleaned_cps_data)
print (my_list)

['year', 'statefip', 'metro', 'relate', 'age', 'sex', 'race', 'marst', 'bpl', 'yrimmig', 'citizen', 'mbpl', 'fbpl', 'nativity', 'sch', 'empstat', 'classwkr', 'classwly', 'wkswork1', 'uhrswork', 'union', 'incwage', 'inclongj', 'ftype', 'white', 'black', 'hisp', 'othrace', 'ba', 'adv', 'potexp', 'annhrs', 'ft', 'niincwage', 'hrwage', 'perconexp', 'inflate', 'realhrwage', 'northeast', 'northcentral', 'south', 'west', 'adj_occ2name', 'Agriculture', 'miningconstruction', 'durables', 'nondurables', 'Transport', 'Utilities', 'Communications', 'retailtrade', 'wholesaletrade', 'finance', 'SocArtOther', 'hotelsrestaurants', 'Medical', 'Education', 'professional', 'publicadmin', 'manager', 'business', 'financialop', 'computer', 'architect', 'scientist', 'socialworker', 'postseceduc', 'legaleduc', 'artist', 'lawyerphysician', 'healthcare', 'healthsupport', 'protective', 'foodcare', 'building', 'sales', 'officeadmin', 'farmer', 'constructextractinstall', 'production', 'transport', 'LEHS']

In [21]:
# Rename columns to be more easily understood
cleaned_cps_data.rename(columns={'relate':'relation_to_head_of_house', 'statefip': 'state_fip', 'sex': 'gender', 'marst': 'marital_status', 'bpl': 'birthplace', 'yrimmig': 'year_of_immigration', 'mbpl': 'mother_birthplace', 'fbpl':'father_birthplace', 'nativity': 'foreign_birthplace', 'sch': 'grade_level_achieved', 'empstat': 'employment_status', 'classwkr': 'worker_class', 'classwly': 'worker_class_last_year', 'wkswork1': 'weeks_worked_last_year', 'uhrswork': 'hours_per_week', 'union': 'union_member_status', 'incwage': 'income', 'inclongj': 'longest_job_earnings', 'ftype': 'family_type', 'othrace': 'other_race', 'ba': 'bachelors_degree', 'adv': 'advanced_degree', 'potexp': 'potential_experience', 'annhrs': 'annual_work_hours', 'ft': 'full_time_job', 'niincwage': 'not_inputed_income', 'hrwage': 'hourly_wage', 'perconexp': 'personal_consumption_expenditure', 'inflate': 'wage_inflation_factor', 'realhrwage': 'real_hourly_wage', 'northeast': 'north_east', 'northcentral': 'north_central', 'adj_occ2name': 'occupation_category', 'Agriculture': 'agriculture', 'miningconstruction': 'mining_construction', 'Manufacturing': 'manufacturing', 'Transport': 'transport', 'Utilities': 'utilities', 'Communications':'communications', 'retailtrade':'retail_trade', 'wholesaletrade':'wholesale_trade', 'SocArtOther':'social_art_other', 'hotelsrestaurants':'hospitality', 'Medical':'medical', 'Education':'education', 'publicadmin':'public_admin', 'financialop': 'financial_operations', 'postseceduc': 'professor', 'legaleduc': 'legal', 'lawyerphysician': 'physicians', 'officeadmin': 'office_admin', 'constructextractinstall': 'construction', 'Installation' : 'installation', 'Moving': 'moving', 'LEHS': 'high_school_or_less'}, inplace=True)

In [22]:
# Display categories to see what needs to be edited
cleaned_cps_data["occupation_category"].value_counts()

.                                         132708
Office and Admin Support                   50635
Managers                                   35696
Consruction, Extraction, Installation      30579
Production                                 29732
Transportation and materials moving        21277
Computer and Math Technicians               8602
Protective Service adj_occupations          7809
financial Operators                         7702
Business Operators                          7327
Community and Social Workers                6025
Lawyers, Judges,Physicans and dentists      3835
Farming, Fishing & Forestry                 2360
Name: occupation_category, dtype: int64

In [23]:
# Rename categories and make more uniform
cleaned_cps_data["occupation_category"] = cleaned_cps_data["occupation_category"].replace('.','Other')
cleaned_cps_data["occupation_category"] = cleaned_cps_data["occupation_category"].replace('financial Operators','Financial Operators')
cleaned_cps_data["occupation_category"] = cleaned_cps_data["occupation_category"].replace('Transportation and materials moving','Transportation and Materials Moving')
cleaned_cps_data["occupation_category"] = cleaned_cps_data["occupation_category"].replace('Consruction, Extraction, Installation','Construction, Extraction, Installation')
cleaned_cps_data["occupation_category"] = cleaned_cps_data["occupation_category"].replace('Lawyers, Judges,Physicans and dentists','Lawyers, Judges, Physicans, and Dentists')
cleaned_cps_data["occupation_category"] = cleaned_cps_data["occupation_category"].replace('Protective Service adj_occupations','Protective Service Occupations')

In [24]:
# Display categories to see what needs to be edited
cleaned_cps_data["occupation_category"].value_counts()

Other                                       132708
Office and Admin Support                     50635
Managers                                     35696
Construction, Extraction, Installation       30579
Production                                   29732
Transportation and Materials Moving          21277
Computer and Math Technicians                 8602
Protective Service Occupations                7809
Financial Operators                           7702
Business Operators                            7327
Community and Social Workers                  6025
Lawyers, Judges, Physicans, and Dentists      3835
Farming, Fishing & Forestry                   2360
Name: occupation_category, dtype: int64

In [25]:
# Display column values
# cleaned_cps_data["birthplace"].value_counts()

In [26]:
# Display column values
# cleaned_cps_data["year_of_immigration"].value_counts()

In [27]:
# Display column values
# cleaned_cps_data["citizen"].value_counts()

In [28]:
# Display column values
# cleaned_cps_data["mother_birthplace"].value_counts()

In [29]:
# Display column values
# cleaned_cps_data["father_birthplace"].value_counts()

In [30]:
# Display column values
# cleaned_cps_data["foreign_birthplace"].value_counts()

In [31]:
# Duplicate column to add state abbreviation with fips
cleaned_cps_data['state'] = cleaned_cps_data.loc[:, 'state_fip']
cleaned_cps_data.head()

,year,state_fip,metro,relation_to_head_of_house,age,gender,race,marital_status,birthplace,year_of_immigration,citizen,mother_birthplace,father_birthplace,foreign_birthplace,grade_level_achieved,employment_status,worker_class,worker_class_last_year,weeks_worked_last_year,hours_per_week,union_member_status,income,longest_job_earnings,family_type,white,black,hisp,other_race,bachelors_degree,advanced_degree,potential_experience,annual_work_hours,full_time_job,not_inputed_income,hourly_wage,personal_consumption_expenditure,wage_inflation_factor,real_hourly_wage,north_east,north_central,south,west,occupation_category,agriculture,mining_construction,durables,nondurables,transport,utilities,communications,retail_trade,wholesale_trade,finance,social_art_other,hospitality,medical,education,professional,public_admin,manager,business,financial_operations,computer,architect,scientist,socialworker,professor,legal,artist,physicians,healthcare,healthsupport,protective,foodcare,building,sales,office_admin,farmer,construction,production,transport,high_school_or_less,state
0,1990,36,2.0,101,58,1,3,6,NaN,NaN,NaN,NaN,NaN,NaN,12.0,10,28,28,52,35,0.0,14200.0,14200.0,2,0,0,1,0,0,0,40,1820,1,14200.0,7.802198,64.639999,1.572618,12.269874,1,0,0,0,Office and Admin Support,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,36
1,2009,5,2.0,1260,28,1,1,6,9900.0,NaN,NaN,9900.0,9900.0,1.0,12.0,10,21,22,52,40,1.0,17680.0,17680.0,5,1,0,0,0,0,0,10,2080,1,17680.0,8.500000,100.063004,1.015900,8.635149,0,0,1,0,Office and Admin Support,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,5
2,1990,36,3.0,101,37,1,1,6,NaN,NaN,NaN,NaN,NaN,NaN,14.0,10,21,22,52,40,1.0,28000.0,28000.0,2,1,0,0,0,0,0,17,2080,1,28000.0,13.461538,64.639999,1.572618,21.169851,1,0,0,0,Other,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,36
3,1990,6,3.0,101,34,1,1,6,NaN,NaN,NaN,NaN,NaN,NaN,18.0,10,21,22,47,45,1.0,27500.0,22000.0,2,1,0,0,0,0,1,10,2115,1,27500.0,13.002364,64.639999,1.572618,20.447746,0,0,0,1,Computer and Math Technicians,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6
4,1981,51,3.0,101,38,1,4,1,NaN,NaN,NaN,NaN,NaN,NaN,13.0,10,10,22,52,40,NaN,17000.0,NaN,1,0,0,0,1,0,0,19,2080,1,17000.0,8.173077,43.977001,2.311526,18.892282,0,0,1,0,Managers,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,51

In [32]:
# Display column values
cleaned_cps_data["state"].unique()

array([36,  5,  6, 51, 17, 48, 10, 50, 44, 42, 47, 33, 12, 34, 35, 19, 49,
       41, 54, 11, 39, 27, 31, 24,  1, 20, 26, 45, 16, 13,  2,  9, 23, 56,
       40, 30, 15, 55, 21, 53, 38, 18,  8, 46, 37, 25, 22, 32, 28,  4, 29],
      dtype=int64)

In [33]:
# Rename values, so we know what fip is which state
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(36,'NY')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(5,'AR')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(6,'CA')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(51,'VA')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(17,'IL')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(48,'TX')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(10,'DE')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(50,'VT')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(44,'RI')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(42,'PA')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(47,'TN')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(33,'NH')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(12,'FL')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(34,'NJ')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(35,'NM')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(19,'IA')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(49,'UT')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(41,'OR')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(54,'WV')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(11,'DC')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(39,'OH')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(27,'MN')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(31,'NE')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(24,'MD')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(1, 'AL')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(20,'KS')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(26,'MI')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(45,'SC')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(16,'ID')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(13,'GA')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(2,'AK')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(9,'CT')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(23,'ME')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(40,'OK')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(30,'MT')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(15,'HI')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(55,'WI')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(21,'KY')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(53,'WA')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(38,'ND')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(18,'IN')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(8,'CO')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(46,'SD')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(37,'NC')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(25,'MA')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(22,'LA')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(32,'NV')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(28,'MS')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(4,'AZ')
cleaned_cps_data["state"] = cleaned_cps_data["state"].replace(29,'MO')

In [34]:
# Display cleaned data frame 
cleaned_cps_data.head()

,year,state_fip,metro,relation_to_head_of_house,age,gender,race,marital_status,birthplace,year_of_immigration,citizen,mother_birthplace,father_birthplace,foreign_birthplace,grade_level_achieved,employment_status,worker_class,worker_class_last_year,weeks_worked_last_year,hours_per_week,union_member_status,income,longest_job_earnings,family_type,white,black,hisp,other_race,bachelors_degree,advanced_degree,potential_experience,annual_work_hours,full_time_job,not_inputed_income,hourly_wage,personal_consumption_expenditure,wage_inflation_factor,real_hourly_wage,north_east,north_central,south,west,occupation_category,agriculture,mining_construction,durables,nondurables,transport,utilities,communications,retail_trade,wholesale_trade,finance,social_art_other,hospitality,medical,education,professional,public_admin,manager,business,financial_operations,computer,architect,scientist,socialworker,professor,legal,artist,physicians,healthcare,healthsupport,protective,foodcare,building,sales,office_admin,farmer,construction,production,transport,high_school_or_less,state
0,1990,36,2.0,101,58,1,3,6,NaN,NaN,NaN,NaN,NaN,NaN,12.0,10,28,28,52,35,0.0,14200.0,14200.0,2,0,0,1,0,0,0,40,1820,1,14200.0,7.802198,64.639999,1.572618,12.269874,1,0,0,0,Office and Admin Support,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,NY
1,2009,5,2.0,1260,28,1,1,6,9900.0,NaN,NaN,9900.0,9900.0,1.0,12.0,10,21,22,52,40,1.0,17680.0,17680.0,5,1,0,0,0,0,0,10,2080,1,17680.0,8.500000,100.063004,1.015900,8.635149,0,0,1,0,Office and Admin Support,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,AR
2,1990,36,3.0,101,37,1,1,6,NaN,NaN,NaN,NaN,NaN,NaN,14.0,10,21,22,52,40,1.0,28000.0,28000.0,2,1,0,0,0,0,0,17,2080,1,28000.0,13.461538,64.639999,1.572618,21.169851,1,0,0,0,Other,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,NY
3,1990,6,3.0,101,34,1,1,6,NaN,NaN,NaN,NaN,NaN,NaN,18.0,10,21,22,47,45,1.0,27500.0,22000.0,2,1,0,0,0,0,1,10,2115,1,27500.0,13.002364,64.639999,1.572618,20.447746,0,0,0,1,Computer and Math Technicians,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,CA
4,1981,51,3.0,101,38,1,4,1,NaN,NaN,NaN,NaN,NaN,NaN,13.0,10,10,22,52,40,NaN,17000.0,NaN,1,0,0,0,1,0,0,19,2080,1,17000.0,8.173077,43.977001,2.311526,18.892282,0,0,1,0,Managers,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,VA

In [35]:
# Display column values
cleaned_cps_data.count()

year                         344287
state_fip                    344287
metro                        334528
relation_to_head_of_house    344287
age                          344287
                              ...
construction                 344287
production                   344287
transport                    344287
high_school_or_less          344287
state                        344287
Length: 83, dtype: int64

In [36]:
# Round values in table columns, can bin later in tableau
cleaned_cps_data.hourly_wage = cleaned_cps_data.hourly_wage.round(0)
cleaned_cps_data.personal_consumption_expenditure = cleaned_cps_data.personal_consumption_expenditure.round(2)
cleaned_cps_data.wage_inflation_factor = cleaned_cps_data.wage_inflation_factor.round(2)
cleaned_cps_data.real_hourly_wage = cleaned_cps_data.real_hourly_wage.round(0)

In [37]:
my_list = list(cleaned_cps_data)
print (my_list)

['year', 'state_fip', 'metro', 'relation_to_head_of_house', 'age', 'gender', 'race', 'marital_status', 'birthplace', 'year_of_immigration', 'citizen', 'mother_birthplace', 'father_birthplace', 'foreign_birthplace', 'grade_level_achieved', 'employment_status', 'worker_class', 'worker_class_last_year', 'weeks_worked_last_year', 'hours_per_week', 'union_member_status', 'income', 'longest_job_earnings', 'family_type', 'white', 'black', 'hisp', 'other_race', 'bachelors_degree', 'advanced_degree', 'potential_experience', 'annual_work_hours', 'full_time_job', 'not_inputed_income', 'hourly_wage', 'personal_consumption_expenditure', 'wage_inflation_factor', 'real_hourly_wage', 'north_east', 'north_central', 'south', 'west', 'occupation_category', 'agriculture', 'mining_construction', 'durables', 'nondurables', 'transport', 'utilities', 'communications', 'retail_trade', 'wholesale_trade', 'finance', 'social_art_other', 'hospitality', 'medical', 'education', 'professional', 'public_admin', 'manager', 'business', 'financial_operations', 'computer', 'architect', 'scientist', 'socialworker', 'professor', 'legal', 'artist', 'physicians', 'healthcare', 'healthsupport', 'protective', 'foodcare', 'building', 'sales', 'office_admin', 'farmer', 'construction', 'production', 'transport', 'high_school_or_less', 'state']

In [38]:
# Reorder columns to match 
cols = ['year', 'state_fip', 'state', 'metro', 'relation_to_head_of_house', 'age', 'gender', 'race', 'marital_status', 'birthplace', 'year_of_immigration', 'citizen', 'mother_birthplace', 'father_birthplace', 'foreign_birthplace', 'grade_level_achieved', 'employment_status', 'worker_class', 'worker_class_last_year', 'weeks_worked_last_year', 'hours_per_week', 'union_member_status', 'income', 'longest_job_earnings', 'family_type', 'white', 'black', 'hisp', 'other_race', 'high_school_or_less', 'bachelors_degree', 'advanced_degree', 'potential_experience', 'annual_work_hours', 'full_time_job', 'not_inputed_income', 'hourly_wage', 'personal_consumption_expenditure', 'wage_inflation_factor', 'real_hourly_wage', 'north_east', 'north_central', 'south', 'west', 'occupation_category', 'agriculture', 'mining_construction', 'durables', 'nondurables', 'transport', 'utilities', 'communications', 'retail_trade', 'wholesale_trade', 'finance', 'social_art_other', 'hospitality', 'medical', 'education', 'professional', 'public_admin', 'manager', 'business', 'financial_operations', 'computer', 'architect', 'scientist', 'socialworker', 'professor', 'legal', 'artist', 'physicians', 'healthcare', 'healthsupport', 'protective', 'foodcare', 'building', 'sales', 'office_admin', 'farmer', 'construction', 'production', 'transport']
final_cps_data = cleaned_cps_data[cols]

In [39]:
# Reorder columns to match 
cols = ['year', 'gender', 'region', 'relation_to_head_of_house', 'age', 'years_of_education', 'annual_hours', 'annual_income', 'white', 'black', 'hisp', 'other_race', 'degree', '09_updated_degree', 'updated_years_of_education', 'annual_weeks_worked', 'union_job', 'usual_hours_per_week', 'labor_income_from_business', 'years_experience', 'full_time_experience', 'part_time_experience', 'government_worker', 'hourly_wage', 'wage_inflation_factor', 'adj_hourly_wage', 'real_hourly_wage', 'full_time_job', 'potential_experience', 'high_school_or_less', 'bachelors_degree', 'advanced_degree', 'occupation_category', 'agriculture', 'mining_construction', 'durables', 'nondurables', 'transport', 'utilities', 'communications', 'retail_trade', 'wholesale_trade', 'finance', 'social_art_other', 'hospitality', 'medical', 'education', 'professional', 'public_admin', 'manager', 'business', 'financial_operations', 'computer', 'architect', 'scientist', 'socialworker', 'professor', 'legal', 'artist', 'physicians', 'healthcare', 'healthsupport', 'protective', 'foodcare', 'building', 'sales', 'office_admin', 'farmer', 'construction', 'production', 'transport']
final_panel_data = cleaned_panel_data[cols]

In [40]:
# Display cleaned panel data
final_panel_data.head()

,year,gender,region,relation_to_head_of_house,age,years_of_education,annual_hours,annual_income,white,black,hisp,other_race,degree,09_updated_degree,updated_years_of_education,annual_weeks_worked,union_job,usual_hours_per_week,labor_income_from_business,years_experience,full_time_experience,part_time_experience,government_worker,hourly_wage,wage_inflation_factor,adj_hourly_wage,real_hourly_wage,full_time_job,potential_experience,high_school_or_less,bachelors_degree,advanced_degree,occupation_category,agriculture,mining_construction,durables,nondurables,transport,transport,utilities,communications,retail_trade,wholesale_trade,finance,social_art_other,hospitality,medical,education,professional,public_admin,manager,business,financial_operations,computer,architect,scientist,socialworker,professor,legal,artist,physicians,healthcare,healthsupport,protective,foodcare,building,sales,office_admin,farmer,construction,production,transport,transport
0,1981,1,1.0,10,34,16.0,1600,10000.0,1,0,0,0,1.0,1.0,17,32.0,0,50.0,0,12.0,12.0,0.0,0.0,6.0,2.31,14.0,3.0,1,12.0,0,1,0,Other,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,1981,1,2.0,10,32,14.0,520,9095.0,0,1,0,0,0.0,0.0,14,13.0,1,40.0,0,14.0,11.0,3.0,0.0,17.0,2.31,40.0,4.0,1,12.0,1,0,0,Production,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,2009,1,1.0,10,64,12.0,2550,45200.0,0,1,0,0,0.0,0.0,12,51.0,0,50.0,0,39.0,38.0,1.0,0.0,18.0,1.02,18.0,3.0,1,46.0,1,0,0,Production,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,1999,1,2.0,10,50,12.0,3072,25000.0,1,0,0,0,0.0,0.0,12,51.0,0,60.0,0,30.0,30.0,0.0,0.0,8.0,1.27,10.0,2.0,1,32.0,1,0,0,Transportation and Materials Moving,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,1990,1,3.0,10,26,12.0,2100,24500.0,1,0,0,0,0.0,0.0,12,50.0,0,42.0,0,8.0,8.0,0.0,0.0,12.0,1.57,18.0,3.0,1,8.0,1,0,0,Production,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [41]:
# Display cleaned cps data
final_cps_data.head()

,year,state_fip,state,metro,relation_to_head_of_house,age,gender,race,marital_status,birthplace,year_of_immigration,citizen,mother_birthplace,father_birthplace,foreign_birthplace,grade_level_achieved,employment_status,worker_class,worker_class_last_year,weeks_worked_last_year,hours_per_week,union_member_status,income,longest_job_earnings,family_type,white,black,hisp,other_race,high_school_or_less,bachelors_degree,advanced_degree,potential_experience,annual_work_hours,full_time_job,not_inputed_income,hourly_wage,personal_consumption_expenditure,wage_inflation_factor,real_hourly_wage,north_east,north_central,south,west,occupation_category,agriculture,mining_construction,durables,nondurables,transport,transport,utilities,communications,retail_trade,wholesale_trade,finance,social_art_other,hospitality,medical,education,professional,public_admin,manager,business,financial_operations,computer,architect,scientist,socialworker,professor,legal,artist,physicians,healthcare,healthsupport,protective,foodcare,building,sales,office_admin,farmer,construction,production,transport,transport
0,1990,36,NY,2.0,101,58,1,3,6,NaN,NaN,NaN,NaN,NaN,NaN,12.0,10,28,28,52,35,0.0,14200.0,14200.0,2,0,0,1,0,1,0,0,40,1820,1,14200.0,8.0,64.64,1.57,12.0,1,0,0,0,Office and Admin Support,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
1,2009,5,AR,2.0,1260,28,1,1,6,9900.0,NaN,NaN,9900.0,9900.0,1.0,12.0,10,21,22,52,40,1.0,17680.0,17680.0,5,1,0,0,0,1,0,0,10,2080,1,17680.0,8.0,100.06,1.02,9.0,0,0,1,0,Office and Admin Support,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2,1990,36,NY,3.0,101,37,1,1,6,NaN,NaN,NaN,NaN,NaN,NaN,14.0,10,21,22,52,40,1.0,28000.0,28000.0,2,1,0,0,0,1,0,0,17,2080,1,28000.0,13.0,64.64,1.57,21.0,1,0,0,0,Other,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1990,6,CA,3.0,101,34,1,1,6,NaN,NaN,NaN,NaN,NaN,NaN,18.0,10,21,22,47,45,1.0,27500.0,22000.0,2,1,0,0,0,0,0,1,10,2115,1,27500.0,13.0,64.64,1.57,20.0,0,0,0,1,Computer and Math Technicians,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1981,51,VA,3.0,101,38,1,4,1,NaN,NaN,NaN,NaN,NaN,NaN,13.0,10,10,22,52,40,NaN,17000.0,NaN,1,0,0,0,1,1,0,0,19,2080,1,17000.0,8.0,43.98,2.31,19.0,0,0,1,0,Managers,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [42]:
# Export to csv
final_panel_data.to_csv('final_panel_data.csv', index= False)

In [43]:
# Export to csv
final_cps_data.to_csv('final_cps_data.csv', index= False)