In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Resources/worldbankdata1.csv')

In [3]:
#Display the data
data

,Country Name,Country Code,Series Name,Series Code,1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],...,2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,149.74406846683,181.59877600924,194.66903621844,205.674096714917,232.778698777445,255.045622164367,...,651.987861948108,628.146803888496,592.476537451681,520.252064031151,530.149830802984,502.056770622973,500.522664145294,516.866552182696,368.754614175459,..
1,Afghanistan,AFG,GDP per capita (constant 2015 US$),NY.GDP.PCAP.KD,..,..,..,..,..,..,...,608.386714575999,602.516979299112,592.476537451681,590.427738791141,588.930450759474,578.985909020837,584.386882896106,553.036478884366,426.030015291798,..
2,Afghanistan,AFG,"Employers, female (% of female employment) (mo...",SL.EMP.MPYR.FE.ZS,..,..,..,..,..,..,...,0.4520258,0.6873025,1.019877,1.510364,2.210068,1.691791,1.269632,0.7176151,..,..
3,Afghanistan,AFG,"Employers, male (% of male employment) (modele...",SL.EMP.MPYR.MA.ZS,..,..,..,..,..,..,...,1.424932,1.702105,1.997002,2.354116,2.726627,2.472382,2.223373,1.843914,..,..
4,Afghanistan,AFG,"Employers, total (% of total employment) (mode...",SL.EMP.MPYR.ZS,..,..,..,..,..,..,...,1.26199,1.522926,1.815164,2.188389,2.619621,2.308126,2.019602,1.643259,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6121,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6122,Last Updated: 05/10/2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Drop the last 5 rows
index_drop = [6118, 6119, 6120, 6121, 6122]
data = data.drop(index_drop)

In [5]:
#Rename columns
data.rename(columns={'1973 [YR1973]': '1973',
                   '1974 [YR1974]': '1974',
                   '1975 [YR1975]': '1975',
                   '1976 [YR1976]': '1976',
                   '1977 [YR1977]': '1977',
                   '1978 [YR1978]': '1978',
                   '1979 [YR1979]': '1979',
                   '1980 [YR1980]': '1980',
                   '1981 [YR1981]': '1981',
                   '1982 [YR1982]': '1982',
                   '1983 [YR1983]': '1983',
                   '1984 [YR1984]': '1984',
                   '1985 [YR1985]': '1985',
                   '1986 [YR1986]': '1986',
                   '1987 [YR1987]': '1987',
                   '1988 [YR1988]': '1988',
                   '1989 [YR1989]': '1989',
                   '1990 [YR1990]': '1990',
                   '1991 [YR1991]': '1991',
                   '1992 [YR1992]': '1992',
                   '1993 [YR1993]': '1993',
                   '1994 [YR1994]': '1994',
                   '1995 [YR1995]': '1995',
                   '1996 [YR1996]': '1996',
                   '1997 [YR1997]': '1997',
                   '1998 [YR1998]': '1998',
                   '1999 [YR1999]': '1999',
                   '2000 [YR2000]': '2000',
                   '2001 [YR2001]': '2001',
                   '2002 [YR2002]': '2002',
                   '2003 [YR2003]': '2003',
                   '2004 [YR2004]': '2004',
                   '2005 [YR2005]': '2005',
                   '2006 [YR2006]': '2006',
                   '2007 [YR2007]': '2007',
                   '2008 [YR2008]': '2008',
                   '2009 [YR2009]': '2009',
                   '2010 [YR2010]': '2010',
                   '2011 [YR2011]': '2011',
                   '2012 [YR2012]': '2012',
                   '2013 [YR2013]': '2013',
                   '2014 [YR2014]': '2014',
                   '2015 [YR2015]': '2015',
                   '2016 [YR2016]': '2016',
                   '2017 [YR2017]': '2017',
                   '2018 [YR2018]': '2018',
                   '2019 [YR2019]': '2019',
                   '2020 [YR2020]': '2020',
                   '2021 [YR2021]': '2021',
                   '2022 [YR2022]': '2022'
                  }, inplace=True)

In [6]:
data.count()

Country Name    6118
Country Code    6118
Series Name     6118
Series Code     6118
1973            6118
1974            6118
1975            6118
1976            6118
1977            6118
1978            6118
1979            6118
1980            6118
1981            6118
1982            6118
1983            6118
1984            6118
1985            6118
1986            6118
1987            6118
1988            6118
1989            6118
1990            6118
1991            6118
1992            6118
1993            6118
1994            6118
1995            6118
1996            6118
1997            6118
1998            6118
1999            6118
2000            6118
2001            6118
2002            6118
2003            6118
2004            6118
2005            6118
2006            6118
2007            6118
2008            6118
2009            6118
2010            6118
2011            6118
2012            6118
2013            6118
2014            6118
2015            6118
2016            6118
2017            6118
2018            6118
2019            6118
2020            6118
2021            6118
2022            6118
dtype: int64

In [7]:
my_list = list(data)
print (my_list)

['Country Name', 'Country Code', 'Series Name', 'Series Code', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']

In [8]:
data.dtypes

Country Name    object
Country Code    object
Series Name     object
Series Code     object
1973            object
1974            object
1975            object
1976            object
1977            object
1978            object
1979            object
1980            object
1981            object
1982            object
1983            object
1984            object
1985            object
1986            object
1987            object
1988            object
1989            object
1990            object
1991            object
1992            object
1993            object
1994            object
1995            object
1996            object
1997            object
1998            object
1999            object
2000            object
2001            object
2002            object
2003            object
2004            object
2005            object
2006            object
2007            object
2008            object
2009            object
2010            object
2011            object
2012            object
2013            object
2014            object
2015            object
2016            object
2017            object
2018            object
2019            object
2020            object
2021            object
2022            object
dtype: object

In [9]:
for year in data.columns[4:]:
    data[year] = pd.to_numeric(data[year], errors='coerce')

# Verify the updated data types
print(data.dtypes)

Country Name     object
Country Code     object
Series Name      object
Series Code      object
1973            float64
1974            float64
1975            float64
1976            float64
1977            float64
1978            float64
1979            float64
1980            float64
1981            float64
1982            float64
1983            float64
1984            float64
1985            float64
1986            float64
1987            float64
1988            float64
1989            float64
1990            float64
1991            float64
1992            float64
1993            float64
1994            float64
1995            float64
1996            float64
1997            float64
1998            float64
1999            float64
2000            float64
2001            float64
2002            float64
2003            float64
2004            float64
2005            float64
2006            float64
2007            float64
2008            float64
2009            float64
2010            float64
2011            float64
2012            float64
2013            float64
2014            float64
2015            float64
2016            float64
2017            float64
2018            float64
2019            float64
2020            float64
2021            float64
2022            float64
dtype: object

In [23]:
data = data.round(2)

,Country Name,Country Code,Series Name,Series Code,1973,1974,1975,1976,1977,1978,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,149.74,181.60,194.67,205.67,232.78,255.05,...,651.99,628.15,592.48,520.25,530.15,502.06,500.52,516.87,368.75,NaN
1,Afghanistan,AFG,GDP per capita (constant 2015 US$),NY.GDP.PCAP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,608.39,602.52,592.48,590.43,588.93,578.99,584.39,553.04,426.03,NaN
2,Afghanistan,AFG,"Employers, female (% of female employment) (mo...",SL.EMP.MPYR.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,0.45,0.69,1.02,1.51,2.21,1.69,1.27,0.72,NaN,NaN
3,Afghanistan,AFG,"Employers, male (% of male employment) (modele...",SL.EMP.MPYR.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.42,1.70,2.00,2.35,2.73,2.47,2.22,1.84,NaN,NaN
4,Afghanistan,AFG,"Employers, total (% of total employment) (mode...",SL.EMP.MPYR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.26,1.52,1.82,2.19,2.62,2.31,2.02,1.64,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6113,World,WLD,"Wage and salaried workers, male (% of male emp...",SL.EMP.WORK.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,50.05,50.59,51.19,51.65,51.90,52.36,52.71,52.37,52.86,NaN
6114,World,WLD,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,50.50,51.13,51.76,52.29,52.61,53.11,53.33,52.97,53.44,NaN
6115,World,WLD,Wanted fertility rate (births per woman),SP.DYN.WFRT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6116,World,WLD,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.42,4.26,4.08,3.97,3.85,3.78,...,2.51,2.51,2.48,2.48,2.46,2.40,2.36,2.30,2.27,NaN
6117,World,WLD,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,82.91,82.79,81.87,81.78,79.35,77.33,...,51.20,50.81,47.19,45.66,44.92,44.07,43.37,42.75,NaN,NaN

In [10]:
#Data only from 2022
#df_2022 = data.loc[:, ['Country Name', 'Country Code', 'Series Name', 'Series Code', '2022']]

In [11]:
#series_name = 'GDP per capita (current US$)'  # Replace with the desired series name
#filtered_df = data[data['Series Name'] == series_name]

In [12]:
# Select the necessary columns for analysis
#columns_to_drop = ['Country Code', 'Series Code', 'Series Name']  # Add the column names you want to drop
#filtered_df = filtered_df.drop(columns=columns_to_drop)

In [39]:
# Select the necessary columns for analysis
df_filtered = data[["Country Name", "Series Name", "2020"]]

# Filter by series of interest (e.g. GDP per capita and employment)
df_filtered = df_filtered[df_filtered["Series Name"].isin(["GDP per capita (current US$)", "Employment to population ratio, 15+, female (%) (modeled ILO estimate)"])]

# Pivot the data to have one column per series of interest
df_pivoted = df_filtered.pivot(index="Country Name", columns="Series Name", values="2020")

#df_pivoted['Employment to population ratio, 15+, female (%) (modeled ILO estimate)'] = df_pivoted['Employment to population ratio, 15+, female (%) (modeled ILO estimate)'] / 100
df_pivoted

Series Name,"Employment to population ratio, 15+, female (%) (modeled ILO estimate)",GDP per capita (current US$)
Country Name,,
Afghanistan,13.70,516.87
Africa Eastern and Southern,58.58,1363.54
Africa Western and Central,51.21,1683.44
Albania,43.29,5332.16
Algeria,12.20,3337.25
...,...,...
West Bank and Gaza,9.87,3233.57
World,42.87,10883.08
"Yemen, Rep.",4.41,NaN
Zambia,50.87,956.83
Zimbabwe,55.70,1372.70

In [40]:
import pandas as pd
import hvplot.pandas
import holoviews as hv

# Crear un gráfico de dispersión con los datos
scatter_plot = df_pivoted.hvplot.scatter(
    x="GDP per capita (current US$)",
    y="Employment to population ratio, 15+, female (%) (modeled ILO estimate)",
    title="GDP per capita vs. Female Employment",
    xlabel="Employment to population ratio, 15+, female (%) (modeled ILO estimate)",
    ylabel="GDP per capita (current US$)",
    hover_cols=["Country Name"]
)

# Cambiar el formato de las etiquetas de los ejes x
scatter_plot.opts(hv.opts.Scatter(xformatter='%.0f'))

scatter_plot

:Scatter   [GDP per capita (current US$)]   (Employment to population ratio, 15+, female (%) (modeled ILO estimate),Country Name)

In [41]:
# Select the necessary columns for analysis
df_filtered = data[["Country Name", "Series Name", "2020"]]

# Filter by series of interest (e.g. GDP per capita and employment)
df_filtered = df_filtered[df_filtered["Series Name"].isin(["GDP per capita (current US$)", "Employment to population ratio, 15+, male (%) (modeled ILO estimate)"])]

# Pivot the data to have one column per series of interest
df_pivoted = df_filtered.pivot(index="Country Name", columns="Series Name", values="2020")

df_pivoted['Employment to population ratio, 15+, female (%) (modeled ILO estimate)'] = df_pivoted['Employment to population ratio, 15+, male (%) (modeled ILO estimate)'] / 100
df_pivoted

Series Name,"Employment to population ratio, 15+, male (%) (modeled ILO estimate)",GDP per capita (current US$),"Employment to population ratio, 15+, female (%) (modeled ILO estimate)"
Country Name,,,
Afghanistan,59.72,516.87,0.5972
Africa Eastern and Southern,69.14,1363.54,0.6914
Africa Western and Central,65.14,1683.44,0.6514
Albania,55.60,5332.16,0.5560
Algeria,56.10,3337.25,0.5610
...,...,...,...
West Bank and Gaza,51.46,3233.57,0.5146
World,66.24,10883.08,0.6624
"Yemen, Rep.",60.76,NaN,0.6076
Zambia,63.83,956.83,0.6383
Zimbabwe,65.25,1372.70,0.6525

In [38]:
import pandas as pd
import hvplot.pandas
import holoviews as hv

# Crear un gráfico de dispersión con los datos
scatter_plot = df_pivoted.hvplot.scatter(
    x="GDP per capita (current US$)",
    y="Employment to population ratio, 15+, male (%) (modeled ILO estimate)",
    title="GDP per capita vs. male Employment",
    xlabel="Employment to population ratio, 15+, male (%) (modeled ILO estimate)",
    ylabel="GDP per capita (current US$)",
    hover_cols=["Country Name"]
)

# Cambiar el formato de las etiquetas de los ejes x
scatter_plot.opts(hv.opts.Scatter(xformatter='%.0f'))

scatter_plot

:Scatter   [GDP per capita (current US$)]   (Employment to population ratio, 15+, male (%) (modeled ILO estimate),Country Name)

In [33]:
#filtered_df = filtered_df.transpose()
#filtered_df

In [34]:
#new_header = filtered_df.iloc[0]
#filtered_df = filtered_df[1:]
#filtered_df.columns = new_header
#filtered_df

In [35]:
#import matplotlib.pyplot as plt

# Plot the graph
#plt.figure(figsize=(10, 6))
#for country in df_2022.columns:
#    plt.plot(filtered_df.index, filtered_df[country], label=country)

#plt.xlabel('Year')
#plt.ylabel(series_name)
#plt.title(f'{series_name} Over Time')
#plt.legend()
#plt.show()